*,
html {
	font-family: "Comfortaa", cursive;
}
body {
	background-color: #e8ccb0;
}
section {
	background-color: #fff4e6;
	width: calc(100% - 20px);
	padding: 10px 15px;
	/* scroll-snap-align: start !important; */
}
h4 {
	text-align: center;
}
span {
	font-size: 14px;
}
a {
	color: #000;
}
a:focus {
	outline: none;
}
p {
	white-space: initial !important;
	word-wrap: break-word !important;
}
::-webkit-scrollbar {
	width: 0px !important;
}
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 10px;
	visibility: hidden;
}
::-webkit-scrollbar-thumb:hover {
	background: #fff;
}
#fixedContainer {
	height: 600px;
	width: calc(70% - 30px) !important;
	border-radius: 15px;
	overflow-x: hidden;
	overflow-y: overlay;
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
section#personalInfo {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.section-container {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 600px;
}
#myPict {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	background-color: #ccc;
	margin: auto;
	object-fit: cover;
}
#myDescription {
	width: 60%;
	margin: auto;
	margin-top: 3px;
}
#myDescription h3 {
	margin-bottom: 0;
}
section#bestProjects {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.cardsContainer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}
.card {
	min-width: 300px;
	height: 200px;
	margin: 10px;
	border-radius: 15px;
	background: #fff;
	transition: ease-out 0.4s;
	cursor: pointer;
	overflow: hidden;
}
.card-top-right:hover {
	transform: scale(2) translate(-25%, 25%);
	box-shadow: -5px 5px #ffe9cc;
	z-index: 2 !important;
	width: 300px;
}
.card-top-left:hover {
	transform: scale(2) translate(25%, 25%);
	box-shadow: 5px 5px #ffe9cc;
	z-index: 2 !important;
	width: 300px;
}
.card-bottom-right:hover {
	transform: scale(2) translate(-25%, -25%);
	box-shadow: -5px -5px #ffe9cc;
	z-index: 2 !important;
	width: 300px;
}
.card-bottom-left:hover {
	transform: scale(2) translate(25%, -25%);
	box-shadow: 5px -5px #ffe9cc;
	z-index: 2 !important;
	width: 300px;
}
.card-top-left:hover > #read-app-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-top-right:hover > #crime-prediction-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-bottom-left:hover > #contact-tracing-app-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-bottom-right:hover > #sort-visualizer-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-top-left:hover > #typehoon-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-top-right:hover > #quiz-app-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-bottom-left:hover > #color-flikker-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-bottom-right:hover > #weight-converter-vid-container {
	height: 50% !important;
	/* width: 60% !important; */
}
.card-bottom-left:hover > #lotus-golden-circle-vid-container {
	padding-top: 0 !important;
	height: 50% !important;
	/* width: 60% !important; */
}
.card-bottom-right:hover > #inventory-vid-container {
	padding-top: 0 !important;
	height: 50% !important;
	/* width: 60% !important; */
}
.slideshow-container {
	position: relative;
	height: 100% !important;
	background: #1b1c1d;
	padding: 10% 0;
	overflow: hidden;
}
.card:hover > .vid-description-container {
	transition: ease-out 0.4s;
	display: initial;
}
.vid-description-container {
	transition: ease-out 0.4s;
	display: none;
}
.vid-description-container p {
	margin: 10px;
	text-align: center;
	font-size: 9px;
}
section#moreAboutMe {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#moreAboutMe p {
	text-align: center;
}
#moreAboutMe .section-container {
	display: flex;
	flex-direction: column;
}
/* The actual timeline (the vertical ruler) */
.timeline {
	position: relative;
	max-width: 1200px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
	content: "";
	position: absolute;
	width: 6px;
	background-color: white;
	border-radius: 50px;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

/* Container around content */
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 35%;
}

/* The circles on the timeline */
.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: white;
	border: 4px solid #ffe9cc;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

/* Place the container to the left */
.left {
	left: 5.5%;
}

/* Place the container to the right */
.right {
	left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
	left: -16px;
}

/* The actual content */
.content {
	padding: 0 30px;
	background-color: white;
	position: relative;
	border-radius: 15px;
	cursor: pointer;
	transition: ease-out 0.4s;
	overflow: hidden;
	min-height: 200px;
}
.content .img-cover {
	object-fit: cover;
	height: 200px;
	width: 100%;
	display: none;
}
.content:hover {
	padding: 0;
}
.content:hover > p {
	display: none;
}
.content:hover > h4 {
	display: none;
}
.content:hover > img {
	display: initial;
}
.info-icon {
	height: 20px;
	width: 20px;
	margin: 0;
	margin-left: 10px;
}
.socials-container a {
	text-decoration: none;
}
.socials-container a img {
	height: 20px;
	width: 20px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}
	/* Full-width containers */
	.container {
		width: 75%;
		padding-left: 70px;
		padding-right: 25px;
	}
	/* Make sure that all arrows are pointing leftwards */
	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}
	.left {
		left: 0;
	}
	/* Make sure all circles are at the same spot */
	.left::after,
	.right::after {
		left: 15px;
	}
	/* Make all right containers behave like the left ones */
	.right {
		left: 0%;
	}
}

@media only screen and (max-width: 600px) {
	#fixedContainer {
		width: 100% !important;
		height: 90vh;
		margin: 0;
		padding: 0;
	}
	section {
		margin: 0px;
	}
	.section-container {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 95vw;
	}
	.card {
		width: 100vw !important;
		margin-right: 20px !important;
	}
	.card-top-left {
		box-shadow: 5px 5px #ffe9cc;
	}
	.card-top-left:hover {
		transform: none;
		box-shadow: 5px 5px #ffe9cc;
	}
	.card-top-right {
		box-shadow: 5px 5px #ffe9cc;
	}
	.card-top-right:hover {
		transform: none;
		box-shadow: 5px 5px #ffe9cc;
	}
	.card-bottom-left {
		box-shadow: 5px 5px #ffe9cc;
	}
	.card-bottom-left:hover {
		transform: none;
		box-shadow: 5px 5px #ffe9cc;
	}
	.card-bottom-right {
		box-shadow: 5px 5px #ffe9cc;
	}
	.card-bottom-right:hover {
		transform: none;
		box-shadow: 5px 5px #ffe9cc;
	}

	.vid-description-container {
		transition: none;
		display: block !important;
	}
	.card > div {
		height: 55% !important;
	}
	.slideshow-container {
		height: 55% !important;
		padding: 0 !important;
	}
	.slideshow-container img {
		height: 100% !important;
	}
}
@media screen and (max-width: 1180px) and (min-width: 600px) {
	#fixedContainer {
		width: 700px !important;
		height: 90vh;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.left {
		left: 3% !important;
	}
}

@media screen and (max-width: 99999px) and (min-width: 1200px) {
	#fixedContainer {
		width: 900px !important;
	}
	.left {
		left: 5.8% !important;
	}
}

/* Hide the images by default */
.mySlides {
	display: none;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
